table, /*Esta etiqueta les dice a todas las tablas cual va a ser su borde y color*/
td{
    border: 1px solid black;
}
/* thead,
    tfoot{
        background-color: rgb(6, 5, 83);
        color: rgb(255, 255, 255);
    }
*/
#fonso{
    background-color: rgb(6, 5, 83);
    color: rgb(255, 255, 255);

}
.azulito tr :nth-child(4)  {
    background-color: rgb(89, 113, 250);
}
.Rojito td:nth-child(6) {
background-color: red;
}
.ingles tr:nth-child(2) {
background-color: darkblue;
color: aliceblue;
}
.simple {
    align-content: center;
}